#newpostbox {
    border-style: solid;
    border-radius: 1px;
    border-color: lightgrey;
    margin: 15px;
    text-align: center;
}

#newpostlabel {
    text-align: left;
    margin-left: 2.5%;
    margin-top: 1%;
    font-weight: bold;
}

#newpost {
    resize: none;
    width:95%;
    height: 30%;
}

#newpostsubmit {
    margin-right: 92%;
    margin-bottom: 1%;
}

.post {
    border-style: solid;
    border-radius: 1px;
    border-color: lightgrey;
    margin: 15px;
}

.username {
    margin-top: 1%;
    font-weight: bold;
    margin-left: 2.5%;
}
.username:hover{
    color: blue
}

.editpost {
    margin-left: 2.5%;
}

.editpost:hover {
    color : blue
}

.postcontent {
    margin-left: 2.5%;
}
.epost {
    margin-left: 2.5%;
    resize: none;
    width:95%;
}

.subedit{
    margin-left: 2.5%;
}
.timestamp {
    font-size: 0.75rem;
    margin-left: 2.5%;
}

.like {
    margin-left: 2.5%;
    font-size: 1.5rem;
}

.like:hover {
    color : blue
}

.full {
    color:blue
}

.commentstitle {
    margin-left: 2.5%;
    margin-bottom: 1%;
}

.commentstitle:hover {
    color : blue
}

.newcomment {
    margin-left: 2.5%;
    resize: none;
    width:95%;
}

.subcomment{
    margin-left: 2.5%;
}

.commentarea {
    margin-top: 2%;
    margin-left: 5%;
}


.commentcontent {
    margin-left: 5%;
    background-color: #f8f9fa;
    margin-right: 10%;
}

.divider {
    margin-right: 5%;
}

.userinfo {
    margin-left: 2.5%;
}

#username {
    font-weight: bold;
    font-size: 2rem;
}